@import url('https://fonts.googleapis.com/css?family=Pacifico');

.responsive-image {
  max-width: 100%;
}

.navbar-footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 1em;

  p:last-child {
    margin-bottom: 0;
  }
}