<div class="fluid-container">
  <div class="row panel about-us-panel">
    <div class="col-sm-6 text-right">
      <div class="panel--body">
        <h2>Brewing Software</h2>
      </div>
      <!-- <img class="about-us-img responsive-image" src="assets/brewsoft-logo.png" alt=""> -->
    </div>
    <div class="col-sm-6">
      <div class="panel--body">
        <p>
          Brewing software starts out the same as brewing beer, coffee, tea, or anything else: a living thing.
        </p>
        <p>
          With beverages, we start with raw materials.  Whether it's coffee beans or wheat or rye, we start with a plant, refine it, and then mix it with fiery hot water to extract the flavors of the product.
        </p>
        <p>
          With software, we start with a raw, living idea and continuously refine it. Mix in some fiery passion for development and now we're really brewing software.
        </p>
      </div>
    </div>
  </div>
</div>
