<div class="fluid-container">
  <div class="row panel about-us-panel">
    <div class="col-sm-6">
      <div class="panel--body text-right">
        <p>
          Brewsoft was founded in 2018 by Kurtis Jungersen with a goal of providing quality software solutions. After working in private sector consulting for several years, he decided to start consulting for software engineering services on his own.
        </p>
        <p>
          With extensive experience in web development, there are few challenges we can't tackle.  To start the consultation process, send us an email at <a href="mailto:kurtis@brewsoft.io">Kurtis@Brewsoft.io</a>.
        </p>
      </div>
    </div>
    <div class="col-sm-6 text-left">
      <div class="panel--body">
        <h2>Meet the Brewmaster</h2>
      </div>
      <!-- <img class="about-us-img responsive-image" src="assets/brewsoft-logo.png" alt=""> -->
    </div>
  </div>
</div>
