<app-main-nav></app-main-nav>

<app-panel [windowHeight]="windowHeight" [windowWidth]="windowWidth" [backgroundImg]="'assets/images/hero-1.jpg'">
  <div class="container">
    <div class="row">
      <div class="col">
          <div class="jumbotron">
              <h1 class="display-4">
                <app-brew-ticker></app-brew-ticker>
              </h1>
              <p class="lead">Brewsoft specializes in providing quality software solutions and consulting services.</p>
              <hr class="my-4">
              <p>To see some of the work we've done, check out the Brewsoft portfolio:</p>
              <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
              </p>
            </div>
<!-- 
        <app-panel-header>
          <app-brew-ticker></app-brew-ticker>
        </app-panel-header> -->
      </div>
    </div>
  </div>
</app-panel>

<app-panel [windowHeight]="windowHeight" [windowWidth]="windowWidth" [backgroundImg]="'assets/images/hero-2.jpg'">
  <div class="container">
    <div class="row">
      <div class="col">
        <app-panel-header>
            We Brew <span class="accent-color">Software.</span>
        </app-panel-header>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-4">
        <div class="skill-card">
          <div class="skill-card__icon">
            <mat-icon>phonelink</mat-icon>
          </div>
          <div class="skill-card__content">
            <div class="skill-card__content-title">
              Web Development
            </div>
            <div class="skill-card__content-body">
              With extensive experience in mobile and desktop browsing experience, we're ready to tackle whatever development needs you have
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-md-4">
          <div class="skill-card">
            <div class="skill-card__icon">
              <mat-icon>cloud</mat-icon>
            </div>
            <div class="skill-card__content">
              <div class="skill-card__content-title">
                  Cloud Apps
              </div>
              <div class="skill-card__content-body">
                  Brewsoft specializes in cloud application development, freeing clients of the tedious nature of self-hosting apps
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-md-4">
            <div class="skill-card">
              <div class="skill-card__icon">
                <mat-icon>dashboard</mat-icon>
              </div>
              <div class="skill-card__content">
                <div class="skill-card__content-title">
                    User Experience
                </div>
                <div class="skill-card__content-body">
                    We believe that apps should be intuitive and effective for users, and excel at designing apps with that in mind
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</app-panel>

<app-panel [windowHeight]="windowHeight" [windowWidth]="windowWidth" [backgroundImg]="'assets/images/hero-3.jpg'">
  <div class="conatiner">
    <div class="row">
      <div class="col">
        <app-panel-header>
          We Brew in <span class="accent-color">Many Different Languages and Frameworks.</span> 
        </app-panel-header>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let language of languages" class="col-6 col-sm-4 col-md-3 text-center">
        <div class="language-tile">
            {{ language }}
        </div>
      </div>
    </div>
  </div>
</app-panel>
